/* リセット */

:root {
  --base-fz: 16;
  --ratio: 1.4;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Serif Pro', system-ui, sans-serif;
  color: black;
  background-color: white;
  line-height: var(--ratio);
}

main {
  padding: 1rem;
  max-width: 38em;
  margin: 0 auto;
}

.article {
  line-height: var(--ratio);
}

.article h1 {
  font-size: calc(64rem / 16);
  margin-top: 0;
  margin-bottom: 0.35em;
}

.article h2 {
  font-size: calc(32rem / 16);
  margin-top: 0;
  margin-bottom: 0.7em;
}

.article h3 {
  font-size: calc(18rem / 16);
  line-height: 1.244;
  margin-top: 0;
  margin-bottom: 1.244em;
}

.article p {
  margin-top: 0;
  margin-bottom: 1.4rem;
}
